{% extends 'Portfolio/base.html' %} {% block content %}

<!-- Page Content-->
<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0">
      <span class="text-gradient d-inline">Resume</span>
    </h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Experience Section-->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
          <!-- Download resume button-->
          <!-- Note: Set the link href target to a PDF file within your project-->
          <!-- Will need to have a file that they can download with the same information -->
          <a
            class="btn btn-primary px-4 py-3"
            href="../../static/Resume.docx"
            download
          >
            <div class="d-inline-block bi bi-download me-2"></div>
            Download Resume
          </a>
        </div>
        <!-- Experience Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2022 - Present</div>
                  <div class="small fw-bolder">
                    Motion Engineer/ Software & Web Devoloper
                  </div>
                  <div class="small text-muted">National Aperture, Inc</div>
                  <div class="small text-muted">Salem, NH</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  My main objective is to create new motion controllers for our
                  micro positioners. My focus is on the higher layer protocals
                  and UI design that can run on any OS with a focus on the
                  raspberry pi as the main target machine. When needed I help my
                  college on the lower layers when running into issues and to
                  discuss communication protocols. I currently am responible for
                  maintaining the companies websites. This intails updating HTM,
                  HTML, CSS, and JS files.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 2-->
      </section>
      <!-- Education Section-->
      <section>
        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
        <!-- Education Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2021 - 2022</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">
                      New Hampshire Technical Institute
                    </div>
                    <div class="small text-muted">Concord, NH</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Associate's</div>
                    <div class="small text-muted">
                      Computer Engineering and Technology
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  NHTI's Computer Engineering Technology degree program offers a
                  combination of computer science, engineering theory, and
                  hands-on skills in labs with state-of-the-art equipment.
                  Graduates are prepared for careers in software development and
                  computer engineering
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Education Card 2-->
      </section>
      <!-- Divider-->
      <div class="pb-5"></div>
      <!-- Skills Section-->
      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline"
                    >Professional Skills</span
                  >
                </h3>
              </div>
              <!-- Row #1 -->
              <div class="row row-cols-1 row-cols-md-3 mb-2">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Jet Brain's Pycharm
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Django Framework
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Web Development
                  </div>
                </div>
              </div>
              <!-- Row #2 -->
              <div class="row row-cols-1 row-cols-md-3 mb-2">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Visual Studio Suite
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Qt Creator & Disigner
                  </div>
                </div>
                <div class="col">
                  <div
                    class="skill-card d-flex align-items-center rounded-4 p-3 h-100"
                  >
                    UI Design
                  </div>
                </div>
              </div>
              <!-- Row #3 -->
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-5 mb-md-0">
                  <div class="skill-card d-flex rounded-4 p-3 h-100">
                    Railway
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">.NET</div>
                </div>
                <div class="col">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">Blank</div>
                </div>
              </div>
            </div>
            <!-- Languages list-->
            <div class="mb-0">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-code-slash"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline">Languages</span>
                </h3>
              </div>
              <!-- Row #1 -->
              <div class="row row-cols-1 row-cols-md-3 mb-2">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">HTML</div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">CSS</div>
                </div>
                <div class="col">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">C/C++</div>
                </div>
              </div>
              <!-- Row #2 -->
              <div class="row row-cols-1 row-cols-md-3 mb-2">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Python
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">C#</div>
                </div>
                <div class="col">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">Ruby</div>
                </div>
              </div>
              <!-- Row #3 -->
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">
                    Ruby on Rails
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">Blank</div>
                </div>
                <div class="col">
                  <div class="d-flex skill-card rounded-4 p-3 h-100">Blank</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
