body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray; /* Light grey background */
  }

  .tabbed-box {
    margin: auto;
    margin-top: 50px;
    width: 550px; /* 300px (original width) + 250px */
    height: 300px; /* 150px (original height) + 150px */
    border-radius: 10px;
    background-color: dodgerblue; /* Dark green background */
    overflow: hidden;
  }

  .tabs {
    display: flex;

    background-color: royalblue; /* Light green tabs */
  }

  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    color: white;
  }

  .tab:hover {
    background-color: darkblue; /* Slightly darker green on hover */
  }

  .tab-content {
    text-align: center;
    padding: 20px;
    color: #ffffff; /* White text color */
  }

  .submit-btn {
    background-color: royalblue;
    color: white;
  }

  .submit-btn:hover {
    background-color: darkblue;
  }
