body {
    background-color: grey;
}

.signup-container {
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.signup-container img {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

