{% extends 'ExpenseTracker/base.html' %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>User Login</title>
    <link rel="stylesheet" href="../../static/css/login_style.css" />
  </head>
  <body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
    <div class="container">
      <div class="login-container vertical-center">
        <img src="../../static/images/dog.webp" alt="Logo" />
        <form action="{% url 'ExpenseTracker:login' %}" method="post">
          {% csrf_token %} {% for field in form %}
          <div class="fieldWrapper">
            <div class="mb-2">{{ field }}</div>
            {% if field.help_text %}
            <p class="help" id="{{ field.auto_id }}_helptext">
              &emsp;{{ field.help_text|safe }}
            </p>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Login</button
          ><a
            href="{% url 'ExpenseTracker:sign-up' %}"
            class="btn btn-primary mx-3"
            >Sign Up</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
