{% extends 'ExpenseTracker/base.html' %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4B/fXjXaK5tr5z25Th/xhjFHY4lZ9ZIx"
      crossorigin="anonymous"
    />
    <title>User Login</title>
    <link rel="stylesheet" href="../../static/css/login_style.css" />
  </head>
  <body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
    <div class="container">
      <div class="login-container">
        <img src="../../static/images/dog.webp" alt="Logo" />
        <form action="{% url 'ExpenseTracker:login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Email address</label>
            <input
              type="email"
              class="form-control"
              id="username"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.
            </small>
          </div>
          <div class="form-group mb-3">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button
          ><a
            href="{% url 'ExpenseTracker:sign-up' %}"
            class="btn btn-primary mx-3"
            >Sign Up</a
          >
        </form>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
      integrity="sha384-T7p8Lk+QlqBLUkYGSLt0v6/E+8p/94jXn1aBEuhhh2xye4PXTswaG+26/Z5ftI6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4B/fXjXaK5tr5z25Th/xhjFHY4lZ9ZIx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{% endblock %}
