{% extends 'ExpenseTracker/base.html' %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>User Sign Up</title>
    <link rel="stylesheet" href="../../static/css/sign-up_style.css" />
  </head>
  <body>
    <div class="container">
      <div class="signup-container vertical-center">
        <img src="../../static/images/sign-up-cat.webp" alt="Logo" />
        <form action="{% url 'ExpenseTracker:sign-up' %}" method="post">
          {% csrf_token %} {% for field in form %}
          <div class="fieldWrapper">
            {{ field.label_tag }}
            <div class="mb-2">{{ field }}</div>
            {% if field.help_text %}
            <p class="help" id="{{ field.auto_id }}_helptext">
              {{ field.help_text|safe }}
            </p>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary mr-2">Sign Up</button>
          <a
            href="{% url 'ExpenseTracker:login' %}"
            class="btn btn-primary mx-3"
            >Login</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
